@import url('./common.css');
@import url('./lista-tareas.css');

:root {
    --primary-dark: rgb(24, 24, 51);
    --secondary-dark: rgb(19, 19, 24);
    --tasks-dark: #2b2b55;
    --finished-tasks-dark: rgba(51, 50, 50, 0.89);
    --app-grey: #F2F2F2;
  }

.active::after{
    right: 0;
    left: unset;
  }
   body{
    background-color: var(--primary-dark);
  }
  header {
    background: var(--secondary-dark);
    box-shadow: 3px 3px 15px rgb(0, 0, 0);
  }
  /* DARK-TAREAS*/
  .tarea .nombre {
    color: white;
  }
  .tarea .eliminar {
    background-color: transparent;
    color: white;
  }
  .tarea .descripcion {
      background-color: var(--tasks-dark);
      box-shadow: 3px 3px 5px rgb(0, 0, 0);
  }
  .tareas-terminadas .tarea .descripcion {
    background-color: var(--finished-tasks-dark);
  }
  .not-done {
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
  }

  /*----Dark Nueva Tarea---*/
  .nueva-tarea {
    background-color: var(--primary-dark);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.nueva-tarea input[type=text] {
    border: 0;
    border-bottom: 1px solid white;
}
.nueva-tarea input::placeholder {
    background-color: var(--primary-dark);
    color: rgba(255, 255, 255, 0.76);
    text-indent: .2em;
  }
  .nueva-tarea button {
    color: white;
    opacity: 1;
  }
  /* Dark- terminadas*/
  .titulo-terminadas {
    background-color: var(--primary-dark);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    color: rgb(170, 170, 170);
  }
  input {
      background-color: var(--primary-dark);;
  }